<div class="body">
	<div class="container">
		<h2>Comment edit</h2>
		<%= form_for [@book, @comment] do |f| %>
		  <div class="field">
		  	<label for="book_comment">Comment</label><br>
		  	<%= f.text_area :comment %>
		  </div>
		  <div class="actions">
		  	<%= f.submit 'Update Comment' %>
		  </div>
		<% end %>
	</div>
</div>
